html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
div {
	margin: 0;
	padding: 0;
	display: block;
}
#paper {
	width: 100%;
	height: 100%;
}

.int {
	background: lime;
}

.body > rect {
	fill: none;
}
.int > rect {
	fill: lime;
}
.fn rect {
	stroke: black;
	stroke-width: 1;
}

.bool {
	fill: radial-gradient(ellipse, white, white, black);
}

path {
	stroke: black;
}
