html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
div {
	margin: 0;
	padding: 0;
	display: block;
}
#paper {
	width: 100%;
	height: 100%;
}

.int {
	background: lime;
}

.int rect {
	fill: lime;
}
.body rect {
	fill: none;
}
.fn rect {
	stroke: black;
	stroke-width: 1;
}

.bool {
	background: radial-gradient(ellipse, white, white, black);
}

table.fn {
	border-collapse: collapse;
	text-align: center;
	white-space: pre;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.fn td, .fn th {
	border: 1px solid black;
	padding: 0 1ex;
	margin: 0;
}

table.bigfn th {
	padding: 40ex 60ex;
}

path {
	stroke: black;
}
