html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
div {
	margin: 0;
	padding: 0;
	display: block;
}
#paper {
	width: 100%;
	height: 100%;
}

.int {
	fill: lime;
	background: lime;
}

table.fn {
	border-collapse: collapse;
	text-align: center;
	white-space: pre;
}
.fn td {
	border: 1px solid black;
	padding: 0 1ex;
	margin: 0;
}
